{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}

<!-- Main Section Start -->
<div class="main-section">

    {% comment %} {% include 'includes/cover.html' %} {% endcomment %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    {% include 'includes/customer_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">

                            <div class="container">
                                <div class="justify-content-center row">
                                    <div class="col-md-12">
                                        <div class="bg-white p-1">
                                            <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                                            <br><br>
                                            <img src="{% static 'logo/base_logo.png' %}" alt="chefRecipe Logo" width="300">
                                            <br><br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="mt-2 mb-3">Workshop Title: {{workshop.title}}</h4>
                                                </div>

                                            </div>

                                            <h6>Created By: {{ workshop.chef }} </h6>
                                            <hr>

                                            <div class="d-flex justify-content-between">
                                                <div>
                                                   <span class="d-block">Workshop Date: </span><span class="font-weight-bold">{{ workshop.date }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Workshop Time: </span><span class="font-weight-bold">{{ workshop.time }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Capacity: </span><span class="font-weight-bold">{{ workshop.capacity }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Price /pers. </span><span class="font-weight-bold">{{ workshop.price }}</span>
                                                </div>

                                            </div>
                                            <hr>

                                            <p><strong>Description:</strong> {{ workshop.description }}</p>



                                            <hr>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <span class="d-block font-weight-bold">Thank you for trusting us!</span>
                                                    <span>Chef's Recipe Team</span>
                                                </div>
                                                <div class="d-flex justify-content-end align-items-end">
                                                    <span class="d-block font-weight-bold">Need help? </span>
                                                    <span> Call - +33 0011223344</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}
