{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/alerts.html' %}
<!-- Main Section Start -->
<div class="main-section">
  <div class="page-section account-header buyer-logged-in">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <!-- Load the sidebar here -->
          {% include 'includes/customer_sidebar.html' %}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <div class="user-dashboard loader-holder">
            <div class="user-holder">
              <div class="container">
                <div class="justify-content-center row">
                  <div class="col-md-12">
                    <div class="bg-white p-1">
                      <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                      <br><br>
                      <div class="listing-sorting-holder">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4>Your reserved workshops : </h4>
                          </div>
                        </div>
                      </div>
                      <div class="listing simple">
                        <ul>
                          {% for booking in booked_workshops %}
                          <li>
                            <div class="img-holder">
                              <figure>
                                <a href="#"><img src="assets/extra-images/listing-logo18.png" class="img-list wp-post-image" alt=""></a>
                              </figure>
                              <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Status: {% if booking.is_canceled %} Canceled {% else %} Active {% endif %}</span>
                            </div>
                            <div class="text-holder">
                              <div class="post-title">
                                <h5>
                                  <a href="{% url 'cust-workshop-detail' booking.id %}">{{ booking.title }}</a>
                                </h5>
                              </div>
                              <div class="delivery-potions">
                                <div class="post-time">
                                  <i class="icon-clock4"></i>
                                  <div class="time-tooltip">
                                    <div class="time-tooltip-holder"> <b class="tooltip-label">Workshop date &
                                      time</b> <b class="tooltip-info">{{booking.date}} {{booking.time}}</b>
                                    </div>
                                  </div>
                                </div>
                                <span>Date & Time</span>
                              </div>
                            </div>
                            <div class="list-option">
                              <a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in"><i class="icon-thumbs-up2"></i> </a>
                              <a href="{% url 'cust-workshop-detail' booking.id %}" class="viewmenu-btn text-color">Detail</a>
                              <form action="{% url 'cancel_workshop' booking.id %}" method="post" class="viewmenu-btn text-color">
                                {% csrf_token %}
                                <button type="submit"  class="viewmenu-btn text-color" style="border: none;">Cancel</button>
                              </form>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->
{% endblock %}
