{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}

<!-- Main Section Start -->
<div class="main-section">

    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    {% include 'includes/customer_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">

                            <div class="container">
                                <div class="justify-content-center row">
                                    <div class="col-md-12">
                                        <div class="bg-white p-1">
                                            <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</button>
                                            <br><br>
                                            <img src="{% static 'logo/base_logo.png' %}" alt="chefRecipe Logo" width="300">
                                            <br><br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="mt-2 mb-3">Workshop Title: {{workshop.title}}</h4>
                                                </div>

                                            </div>
                                            <h6>Workshop leader: {{ workshop.chef }} </h6>
                                            <hr>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                   <span class="d-block">Workshop Date: </span><span class="font-weight-bold">{{ workshop.date }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Workshop Time: </span><span class="font-weight-bold">{{ workshop.time }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Capacity: </span><span class="font-weight-bold">{{ workshop.capacity }}</span>
                                                </div>
                                                <div>
                                                    <span class="d-block">Price /pers. </span><span class="font-weight-bold">{{ workshop.price }}</span>
                                                </div>

                                            </div>
                                            <hr>
                                            <p><i class="icon-file-text2"></i><strong> Description:</strong> {{ workshop.description }}</p>

                                            <p><i class="icon-location-pin2"></i><strong>Place :</strong> {{workshop.address}}</p>
                                            <p><i class="icon-ring_volume"></i><strong> Contact details:</strong> {{workshop.contact_phone}}</p>

                                            <hr>

                                            <form action="{% url 'book-workshop' workshop_id=workshop.id %}" method="post">
                                              {% csrf_token %}
                                              {% if workshop.capacity > 0 %}
                                              <button type="submit" class="btn btn-danger btn-lg">Book Now</button>
                                              {% else %}
                                              <button type="button" class="btn btn-danger btn-lg" disabled="disabled">Sold Out</button>
                                              {% endif %}
                                          </form>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}
