{% load static %}
<footer id="footer" class="footer-style-1">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-top-cities">
                                <div class="widget-title">
                                    <h5>Chef's recipe</h5>
                                </div>
                                <ul>
                                    <li><a href="#">Who we are?</a></li>
                                    <li><a href="#">Terms of Sales</a></li>
                                    <li><a href="#">Sponsorship and loyalty</a></li>
                                    <li><a href="#">Data</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-categories">
                                <div class="widget-title">
                                    <h5>Menu</h5>
                                </div>
                                <ul>
                                    <li><a href="#"> Home</a></li>
                                    <li><a href="#"> Blog Large</a></li>
                                    <li><a href="#"> Contact</a></li>
                                    <li><a href="#"> FAQ’s</a></li>
                                    <li><a href="#"> How it works</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget widget-connect">
                                <div class="widget-title">
                                    <h5> Connect</h5>
                                </div>
                                <ul class="social-media">
                                    <li><a href="#" data-original-title="twitter"><i class=" icon-twitter"></i></a>
                                    </li>
                                    <li><a href="#" data-original-title="linkedin"><i class="icon-linkedin"></i></a>
                                    </li>
                                    <li><a href="#" data-original-title="pinterest"><i class="icon-pinterest"></i></a>
                                    </li>
                                    <li><a href="#" data-original-title="google"><i class="icon-google"></i></a>
                                    </li>
                                    <li><a href="#" data-original-title="instagram"><i class="icon-instagram"></i></a>
                                    </li>
                                    <li><a href="#" data-original-title="youtube"><i class="icon-youtube"></i></a>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="bgcolor"><i class="icon-ring_volume"></i></span>
                                        <p>+33 321 828 6662</p>
                                    </li>
                                    <li><span class="bgcolor"><i class="icon-envelope-o"></i></span>
                                        <p><a href="#">support@chefsrecipe.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>© 2023 Chef's Recipe. All Rights Reserved. Powered By <a href="#">Epotala</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->


<!-- Modal Popup End -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>