{% load static %}
<div class="wrapper">
    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="logo">
                            <figure>
                                <a href="{% url 'home' %}"  class="light-logo">
                                    <img src="{% static 'logo/base_logo.png' %}" alt="chefRecipe" width="250"
                                        height="100">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="login-option">
                            <a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in"
                                data-toggle="modal" href="#user-register">Login </a> / 
                                <span><a href="{% url 'registerUser' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">Register<a></span></a><a class="get-start-btn"
                                href="#">
                                Register
                                Chef</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->