{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Main Section Start -->
<div class="main-section">
        <div class="page-section nopadding cs-nomargin main-search-bar"
        style="padding-top: 200px; padding-bottom: 150px; margin-bottom: 0px; background: url({% static 'extra-images/banner-bg.jpg' %}) no-repeat center / cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="element-title">
                        <h1 
                            style="font-size: 40px; color: #505050; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
                            Find some of our best recipes </h1>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="main-search fancy bg-holder">
                        
                        <!-- form -->
                        <form>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-5 col-xs-12">
                                    <div class="field-holder">
                                        <input type="text" placeholder="search for a recipe">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                    <div class="field-holder">
                                        <input type="submit" value="Search">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- form end -->
                    </div>
                </div>
            </div>

        </div>
    </div>
        <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="element-title align-center">
                            <h2>Featured Recipe </h2>
                            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Main Search End -->



<!-- Home Pages Elements End  -->
</div>
{% endblock %}